// CormorantGaramond
@font-face {
    font-family: 'CormorantGaramond';
    src: url('../fonts/Cormorant_Garamond/CormorantGaramond-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'CormorantGaramond';
    src: url('../fonts/Cormorant_Garamond/CormorantGaramond-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'CormorantGaramond';
    src: url('../fonts/Cormorant_Garamond/CormorantGaramond-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'CormorantGaramond';
    src: url('../fonts/Cormorant_Garamond/CormorantGaramond-Bold.ttf') format('truetype');
    font-weight: 700;
}
// FiraSans
@font-face {
    font-family: 'FiraSans';
    src: url('../fonts/Fira_Sans/FiraSans-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'FiraSans';
    src: url('../fonts/Fira_Sans/FiraSans-Bold.ttf') format('truetype');
    font-weight: 700;
}


