.footer {
    background-color: $color-text-dark;
    margin-top: -5px;
    .top-footer,
    .bottom-footer {
        display: flex;
        justify-content: space-between;
        ul {
            display: flex;
        }
    }
}

.cus-menu-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li {
        // margin-right: 35px;
        // a {
        //     color: #fff;
        //     transition: all ease-in-out .4s;
        //     font-family: $font-fira;
        //     text-transform: uppercase;
        // }
        // // &:hover a {
        // //     color: $color-hover;
        // // }
        transform: translate(6px, -9px);
        margin-right: 35px;
        font-family: $font-fira;
        line-height: 24px;
        letter-spacing: 1px;
        a {
            color: $color-text-gray;
            font-weight: bold;
            transition: all ease-in-out .3s;
            font-size: 14px;
            &:hover {
                color: $color-hover;
            }
        }
    }
}

.top-footer {
    text-transform: uppercase;
    justify-content: space-between;
    align-items: flex-end;
    padding: 65px 0 69px 0;
    border-bottom: 1px solid #2b2b2b;
}

.direct {
    align-items: center;
    .direct-item {
        transform: translate(6px, -9px);
        margin-right: 35px;
        font-family: $font-fira;
        line-height: 24px;
        letter-spacing: 1px;
        a {
            color: $color-text-gray;
            font-weight: bold;
            transition: all ease-in-out .3s;
            font-size: 14px;
            &:hover {
                color: $color-hover;
            }
        }
    }
}

.btn-subcribe {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 9px;
    line-height: 24px;
    letter-spacing: 2px;
    width: 165px;
    a {
        color: $color-text-gray;
        font-family: $font-fira;
        &>span {
            border: 2px solid #696969;
            padding: 10px 20px;
            letter-spacing: 2px;
        }
        .sub-icon {
            color: $color-hover;
            margin-left: 10px;
        }
    }
}

.bottom-footer {
    font-family: $font-fira;
    align-items: center;
    font-size: 14px;
    color: #626262;
    padding: 24px 0 85px 0;
    .bottom-footer-right {
        font-size: 25px;
    }
    .bottom-footer-left {
        font-size: 14px;
        line-height: 28px;
        transform: translate(-5px, 15px);
        font-weight: bold;
    }
}

.footer {
    color: $color-text-gray;
    transition: all ease-in-out .3s;
    .social-item {
        border: 2px solid #4e4e4e;
        border-radius: 100%;
        padding: 13px 16px;
        margin-left: 10px;
        transition: all ease-in-out .3s;
        font-size: 16px;
        &:hover {
            background: $color-hover;
            border-color: $color-hover;
            color: $color-text-dark;
        }
        &:hover a {
            color: $color-text-dark;
        }
        &.fb {
            padding: 13px 16px;
        }
        &.tw,
        &.yt {
            padding: 10px 13px;
        }
        &.tw,
        &.yt {
            padding-top: 13px;
        }
    }
    .social-item {
        a {
            color: #ababab;
        }
    }
}