.intro-service {
    text-align: center;
    font-size: 18px;
    .service {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #efefef;
        .row {
            justify-content: space-between;
        }
    }
    .title-service {
        text-transform: uppercase;
        color: $color-text-dark;
        letter-spacing: 2px;
        line-height: 28px;
        font-weight: bold;
    }
    .title-info {
        color: $color-text-gray;
        font-size: 14px;
        font-family: $font-fira;
        line-height: 28px;
    }
    .intro {
        padding: 105px 0 120px 0;
        line-height: 48px;
        .row {
            justify-content: center;
        }
        .intro-text {
            font-size: 34px;
            font-weight: bold;
            margin-top: 0;
        }
    }
}

.service {
    .col-4 {
        border-left: 1px solid #efefef;
        padding-top: 18px;
    }
    .col-4:last-child {
        border-right: 1px solid #efefef;
    }
}