.banner_top {
    // background-image: url('../images/banner_01.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right 30% top;
    height: 1000px;
    overflow: hidden;
    display: flex;
    align-items: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .container-wide {
        max-width: 1750px;
        width: 100%;
        // background: #ccc;
        margin: 0 auto;
        position: relative;
    }
}

.title-banner {
    font-family: $font-fira;
    width: 75%;
    .title-banner-top {
        font-size: 24px;
        color: $color-69;
        letter-spacing: 12px;
        line-height: 32px;
        margin-top: 40px;
    }
    .title-banner-bot {
        font-size: 100px;
        color: $color-text-dark;
        font-family: $font-corm;
        text-transform: uppercase;
        letter-spacing: 30px;
        font-style: italic;
        line-height: 100px;
        margin-top: 32px;
        margin-bottom: 70px;
    }
    .discover {
        padding: 13px 25px;
        background-color: $color-text-dark;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2px;
        line-height: 24px;
    }
}

.social {
    position: absolute;
    top: 51%;
    right: 18px;
    transform: translateY(-50%);
    font-size: 24px;
    .list-social {
        text-align: right;
        letter-spacing: 2px;
        line-height: 40px;
    }
}

.banner_top {
    .social-item {
        position: relative;
        line-height: 42px;
        a {
            color: #fff;
            opacity: .5;
            transition: all ease-in-out .3s;
            &:after {
                position: absolute;
                content: '';
                opacity: 0;
                transition: all ease-in-out .3s;
                background: #000;
                height: 1px;
                width: 80px;
                top: 50%;
                left: 115%;
                transform: translateY(-50%);
            }
            &:hover:after,
            &:hover {
                opacity: 1;
            }
        }
    }
}