$font-corm: 'CormorantGaramond',
serif;
$font-fira: 'FiraSans',
sans-serif;
$color-slide: #faf9f9;
$color-white: #fff;
$color-text-dark: #333;
$color-69: #696969;
$color-hover: #d6ba8d;
$color-text-gray: #ababab;
$color-text-footer: #3e3e3e;